<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <form action="/addPlayer" method="post">
        <input type="text" placeholder="playerName" name="playerName" required>
        <input type="text" placeholder="Nationality" name="playerNationality" required>
        <button type="submit">Submit</button>
    </form>

    <table>
        <thead>Player Info</thead>
        <% for(let i = 0;i<info.length;i++){%>
            <tr>
                <td><%=info[i].name%></td>
                <td><%= info[i].nationality%></td>
                <td class="fa fa-trash">Delete</td>
            </tr>
        <%}%>
    </table>
    <script src="js/main.js"></script>
</body>
</html>